/*
 * Copyright (c) 2026 RAK Wireless
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/lora/sx126x.h>
#include "rak3162-pinctrl.dtsi"

/ {
	leds {
		compatible = "gpio-leds";

		led0: led_0 {
			gpios = <&gpio2 9 GPIO_ACTIVE_HIGH>;
			label = "LED 0";
		};

		led1: led_1 {
			gpios = <&gpio2 10 GPIO_ACTIVE_HIGH>;
			label = "LED 1";
		};
	};

	aliases {
		led0 = &led0;
		led1 = &led1;
		watchdog0 = &wdt31;
		lora0 = &lora;
	};
};


/* UART0 - debug UART, 115200 bps */
&uart20 {
	current-speed = <115200>;
	pinctrl-0 = <&uart20_default>;
	pinctrl-1 = <&uart20_sleep>;
	pinctrl-names = "default", "sleep";
};

/* UART1 - secondary UART, 115200 bps */
&uart21 {
	current-speed = <115200>;
	pinctrl-0 = <&uart21_default>;
	pinctrl-1 = <&uart21_sleep>;
	pinctrl-names = "default", "sleep";
};

/* I2C - 400 kHz fast mode */
&i2c30 {
	pinctrl-0 = <&i2c30_default>;
	pinctrl-1 = <&i2c30_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <400000>;
};

/*
 * LoRa SPI (spi22) - on-board SX1262
 * DIO2 drives RTC66006 RF switch; ANT_SW (P0.00) is a separate regulator
 * in rak3162_nrf54l15_cpuapp.dts.
 */
&spi22 {
	pinctrl-0 = <&spi22_default>;
	pinctrl-1 = <&spi22_sleep>;
	pinctrl-names = "default", "sleep";
	overrun-character = <0>;
	cs-gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;

	lora: lora@0 {
		compatible = "semtech,sx1262";
		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(4)>;
		reset-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
		busy-gpios  = <&gpio1 13 GPIO_ACTIVE_HIGH>;
		dio1-gpios  = <&gpio0 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		dio2-tx-enable;
		dio3-tcxo-voltage = <SX126X_DIO3_TCXO_1V8>;
		tcxo-power-startup-delay-ms = <5>;
	};
};

/* External SPI (spi00) - CS on P2.05, active-low */
&spi00 {
	max-frequency = <DT_FREQ_M(4)>;
	cs-gpios = <&gpio2 5 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi00_default>;
	pinctrl-1 = <&spi00_sleep>;
	pinctrl-names = "default", "sleep";
};
